<!DOCTYPE html>
<html>
	<head>
		{{template "head.gohtml" "Home"}}
	</head>

	<body>
		{{template "nav.gohtml" .}}
		<div class="container-fluid mt-3">
			<h1 class="border-bottom border-primary">YTArchiver Help</h1>

			<div class="container-fluid mt-3">
				<p>
					Please feel free to ask for help on GitHub.

					This can be found <a href="https://github.com/ejv2/ytarchiver">here</a>.
				</p>
			</div>

			{{template "footer.gohtml"}}
		</div>
	</body>
</html>
