{
	"root": "/var/media/",
	"api_key": "YOUR_KEY_HERE",
	"max_parallel": 4,
	"downloader": "/usr/bin/youtube-dl",
	"channels": [
		{"handle": "RickAstleyYT"}
	],
	"interval": "1h",
	"dump_video_info": true,
	"dump_channel_info": true
}
